// 列表样式
.list-template {
  padding: 20px;
  .btns {
    padding-bottom: 10px;
  }
  .pages {
    width: 100%;
    .el-pagination{
      padding: 10px;
    }
  }
}
// 新增、修改弹出层样式
.aou-template {
  text-align: left;
  .aou-footer{
    text-align: right;
  }
}
