.icons-container {
  overflow: hidden;
  .icons-wrapper {
    margin: 0 auto;
  }
  .icon-item {
    height: 70px;
    text-align: center;
    width: 50px;
    float: left;
    font-size: 30px;
    color: #24292e;
    cursor: pointer;
  }
  span {
    display: block;
    font-size: 24px;
    margin-top: 10px;
  }
  .disabled{
    pointer-events: none;
  }
}
.el-tree-node__content {
  .custom_content {
    width: 100%;
    text-align: right;
    position: relative;
    height: 24px;
    .title {
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
}
.org-tree {
  overflow: auto;
  .custom-tree-container {
    display: -webkit-box;
    font-size: 14px;
    padding-right: 8px;
    min-width: 600px;
  }
  .tree-block {
    min-width: 400px;
    padding:8px 10px 24px;
    position: absolute;
    // min-height: calc(100vh - 70px);
    // border: 1px solid #97a8be;
    // border-radius: 4px;
  }
  .tree-block>p {
    text-align:center;
    margin:0;
    line-height:4
  }
  .table-block {
    position: absolute;
    left: 450px;
    width: calc(100% - 450px);
    border-left:1px solid #eff2f6
  }
}
